RewriteEngine On

# Si la URL no apunta a un archivo existente (los endpoints sin la extensión .php)
RewriteCond %{REQUEST_FILENAME} !-f
# Si la URL no apunta a un directorio existente
RewriteCond %{REQUEST_FILENAME} !-d

# Redirigir todas las solicitudes a index.php del directorio donde se encuentra el .htaccess (en este caso raíz)
# ^(.*)$ Expresión regular para capturar toda la URL después del dominio
# L: Last instruction, básicamente que deje de evaluar el archivo en caso de que abajo hubiera más
# QSA: Query String Append, para que mantenga los parámetros de la URL
RewriteRule ^(.*)$ index.php [QSA,L]
